@page
@model IndexModel
@{
    ViewData["Title"] = "GitHub Learning";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core to learn about how to use github features</a>.</p>
</div>
